.createPost{
    text-align: left;
    border-radius: 5px;
}

.createPost ul{
padding-bottom: 20px;
padding-left: 0px;
padding-top: 5px;
}

.createPost ul>li{
    list-style-type: none;
    display: inline;
    margin-right: 15px;
    padding: .7rem;
    background-color: #F5FBFF;
    border-radius: 5px;
}
.createPost ul li a{
    color: #74BBFF !important;
}

.profileImgstyling{
    border-radius:100px;
    width:60px;
    height: 60px;
}

#inputboxstyling{
    margin-left: 20px;
    border:none;
    padding-left:10px ;
}

.drowdownstyling{
    color: black;
    margin: 0px;
    padding-left: 25px;
}

.createPost ul li p a{
    color: black !important;
}

.createPost ul li p a:hover{
    color: #74BBFF !important;
}