 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');
 
 .App {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: #FAFAFB;
  color:#6f736c;
  font-size: 15px;
  padding: 50px 0px;
 }

.Poststyling{
  width:50%;
  background-color: white;
  margin: 10px auto 0px auto;

  border-radius: 5px !important;
} 

.createPoststyling{
  background-color: #FFFFFF;
  width: 50%;
  margin: 0px auto 0px auto;
  border-radius: 5px !important;
  padding-top: 30px;
}

a{
  text-decoration: none !important;
}

input{
  outline: none;
}