
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
  font-family:'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #FAFAFB; */
  background-color: #FAFAFB;
  

}

code {
  font-family:'Montserrat', sans-serif;
}
